.main-container{
    display : flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 20px;    
    position: relative;
    height: 90vh;
    width: 90vw;
}
/* body{
    background: linear-gradient(#33ccff, #ff99cc)
}
 */

